html, body {
	padding: 0;
	margin: 0;
}

/*Header styling*/

.header {
	background-color: #551a8b;
	background:#333 no-repeat center;
	border: 4px solid black;
}

.header h1 {
	color: #999;
}

/*Header styling-END*/

/*Menu bar styling*/
.menubar {
	border: 4px solid black;
}

ul.menubar-list{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }
/*Menu bar styling-END*/

/*Info styling*/
.info {
	background-color: #ccc;
	margin: auto;
}

.info img {
	float: left;
	width:60%;
	border: 2px #000 solid;
	padding-left: 0px;
	border-radius:20%;
}

.profileImageContainer {
	max-width: 250px;
 	max-height: 250px;
	border-radius: 180px; 
}

/*Info styling-END*/


/*FAQ Styling*/

#firstAnswer {
	display: none;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*FAQ Styling-END*/

/*Google map window styling*/
.google-map-frame {
	text-align: center;
	height: 300px;
	border: 4px solid black;
}
/*Google map window styling-END*/

/*Footer styling */
.footer {
	margin-bottom: 20px;
	background-color: #778899;
}

.contactDetails {
	float: left;
	width: 100%;
	background-color: #000;
	padding: 30px 0;
	margin: 20px 0;

}

.contactDetails a {
	color: red;
}

.contactDetails a:hover {
	color: green;
	text-decoration: line-through;
}

.contactDetails a:visited {
	color: purple;
}

/*Footer styling-END */

